[Unit]
Description=Cuems Controller service group
Requires=cuems-node.service cuems-controller-engine.service
Wants=cuems-wifi.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
