[Unit]
Description=cuems-engine
PartOf=cuems-node.service
After=rtpmidid.service cuems-xorg.service
Requires=rtpmidid.service cuems-xorg.service

[Service]
Environment="DISPLAY=:0.0"
Type=exec
Restart=always
ExecStartPre=/bin/mkdir -p /run/cuems-engine
PIDFile=/run/cuems-engine/service.pid
ExecStart=/usr/bin/python3.11 /home/stagelab/src/cuems-engine/src/engine.py

[Install]
WantedBy=cuems-node.service