[Unit]
Description=cuems-engine
PartOf=cuems-node.service
After=cuems-nodeconf.service rtpmidid.service cuems-xorg.service
Requires=rtpmidid.service cuems-xorg.service cuems-nodeconf.service

[Service]
Environment="DISPLAY=:0.0"
Type=exec
Restart=always
ExecStartPre=/bin/mkdir -p /run/cuems-engine
PIDFile=/run/cuems-engine/service.pid
ExecStart=/home/stagelab/.pyenv/versions/cuems/bin/python3 /home/stagelab/src/cuems/cuems-engine/src/engine.py

[Install]
WantedBy=cuems-node.service