[Unit]
Description=Cuems Controller service group
Requires=apache2.service
Wants=cuems-wifi.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

