[Unit]
Description=cuems-wifi
# When systemd stops or restarts the app.service, the action is propagated to this unit
PartOf=cuems-master.service
# Start this unit after the app.service start
After=cuems-master.service
Requires=hostapd.service isc-dhcp-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

#ExecCondition=systemctl show cuems-nodeconf.service --property=ExecMainStatus

[Install]
WantedBy=cuems-master.service
