[Unit]
Description=cuems-editor
PartOf=cuems-master.service
After=rtpmidid.service lightdm.service cuems-engine.service cuems-master.service cuems-master.service
Requires=rtpmidid.service lightdm.service cuems-engine.service


[Service]
Environment="DISPLAY=:0.0"
Type=exec
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/cuems-engine
PIDFile=/var/run/cuems-engine/service.pid
ExecStart=/usr/bin/python3.7 /home/stagelab/src/cuems_editor/editor.py

[Install]
WantedBy=default.target