[Unit]
Description=cuems-midiconnector
#PartOf=cuems-node.service
#Requires=avahi-daemon.service
#After=network-online.target 
#Wants=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=33


[Service]
#Environment="PYTHONPATH=/usr/lib/cuems/site-packages"
Type=simple
#NotifyAccess=main
#Restart=on-failure
RestartSec=10
ExecStart=/usr/lib/cuems/bin/python3 /home/ion/src/cuems/cuems-midi-connector/run_midiconnector.py
TimeoutSec=900

[Install]
WantedBy=default.target
