[Unit]
Description=cuems-wayland
After=systemd-user-sessions.service
Conflicts=getty@tty1.service
#option to disable unusable tty1

[Service]
User=stagelab
WorkingDirectory=~

PAMName=login
TTYPath=/dev/tty1
UnsetEnvironment=TERM

StandardOutput=journal
ExecStart=/bin/kwin_wayland --xwayland
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=graphical.target
