[Unit]
Description=cuems-nodeconf
#PartOf=cuems-node.service
Requires=avahi-daemon.service
After=network-online.target avahi-daemon.service avahi-autoipd.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStartPre=/bin/sleep 10
ExecStart=/usr/lib/cuems/bin/python3 /home/stagelab/src/cuems/cuems-nodeconf/CuemsNodeConf.py
SuccessExitStatus=100 101
TimeoutSec=900

[Install]
WantedBy=default.target
