[Unit]
Description=cuems-engine
After=cuems-xorg.service rtpmidid.service
Requires=cuems-nodeconf.service cuems-xorg.service rtpmidid.service

[Service]
Environment="DISPLAY=:0.0"
Type=exec
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/cuems-engine
PIDFile=/var/run/cuems-engine/service.pid
ExecStart=/usr/bin/python3.7 /home/stagelab/src/cuems-engine/src/engine.py

[Install]
WantedBy=default.target