[Unit]
Description=Cuems Node service group
Requires=cuems-nodeconf.service rtpmidid.service cuems-xorg.service cuems-engine.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true


[Install]
WantedBy=multi-user.target
