[Unit]
Description=cuems-editor
PartOf=cuems-controller.service
After=cuems-node.service apache2.service
Requires=cuems-node.service apache2.service

[Service]
Type=exec
Restart=always
ExecStartPre=/bin/mkdir -p /run/cuems-engine
PIDFile=/run/cuems-engine/service.pid
ExecStart=/usr/lib/cuems/bin/python3 /home/debian/src/cuems/cuems-editor/ws-server.py

[Install]
WantedBy=cuems-controller.service