[Unit]
Description=cuems-node-engine
PartOf=jackd-cuems.service
Requires=avahi-daemon.service cuems-controller-engine.service jackd-cuems.service
After=network-online.target avahi-daemon.service cuems-controller-engine.service jackd-cuems.service
StartLimitBurst=5
StartLimitIntervalSec=33


[Service]
User=stagelab
Group=stagelab
Type=simple
Environment="LD_LIBRARY_PATH=/usr/lib/cuems/lib/python3.11/site-packages/rtmidi"
#NotifyAccess=main
Restart=on-failure
RestartSec=10
ExecStartPre=-/bin/sh -c '/usr/bin/pkill -u stagelab -f "xjadeo.*--osc|audioplayer-cuems|dmxplayer-cuems|jack-volume" || true'
ExecStartPre=-/bin/sleep 1
ExecStart=/usr/lib/cuems/bin/node-engine
ExecStopPost=-/bin/sh -c '/usr/bin/pkill -u stagelab -f "xjadeo.*--osc|audioplayer-cuems|dmxplayer-cuems|jack-volume" || true'
TimeoutStopSec=10
TimeoutStartSec=60

[Install]
WantedBy=default.target
