[Unit]
Description=cuems-midiconnector
PartOf=cuems-controller.target
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
User=stagelab
Group=stagelab
SupplementaryGroups=audio
Type=simple
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
TimeoutStopSec=10
TimeoutStartSec=60
ExecStart=/usr/lib/cuems/bin/cuems-midiconnector
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/tmp

[Install]
WantedBy=cuems-controller.target
