[Unit]
Description=CUEMS Controller service group
Documentation=man:systemd.special(7)
Requires=cuems-node.target
After=cuems-node.target
Wants=cuems-wifi.target

[Install]
WantedBy=multi-user.target