[Unit]
Description=cuems-controller-engine
#PartOf=cuems-node.service
Requires=avahi-daemon.service cuems-nodeconf.service
After=network-online.target avahi-daemon.service cuems-nodeconf.service
Wants=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=33


[Service]
#Environment="PYTHONPATH=/usr/lib/cuems/site-packages"
User=stagelab
Group=stagelab
Type=simple
#NotifyAccess=main
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
ExecStart=/usr/lib/cuems/bin/controller-engine
TimeoutStopSec=10
TimeoutStartSec=60

[Install]
WantedBy=default.target
