[Unit]
Description=OLA Daemon
After=network.target

[Service]
Type=simple
User=olad
SupplementaryGroups=dialout plugdev
ExecStart=/usr/bin/olad --syslog --log-level 3 --config-dir /etc/ola
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
